[Graphics]
tile_size = (10, 10)  # Tile size in pixels in the (X, Y) direction
neuron_radius = 8

[Environment]
level = 1-1
frame_skip = 4 # Each action will be repeated for frame_skip frames
 
[Statistics]
# A model .pt file contains:
#  'iterations' # Number of episodes/generations 
#   'state_dict' # PyTorch weights and biases
#   'layer_sizes' # tuple of input, hidden and output layer node sizes
#   'hidden_activation' # string of named activation function
#   'output_activation' # string of named activation function
    
# .pt file will be saved at model_save_dir/DQN or model_save_dir/GA respectively
model_save_dir = ./models
dqn_model_name = DQNbest
ga_model_name = GAbest # I.e the highest fitness individual from last generation

# saves a .pt file named model_name_CHECKPOINT every checkpoint_interval iterations
checkpoint_interval = 10

# Tensorboard logging
tensorboard_dir = ./logs/tb

# Every how many steps to log progress in Tensorboard
log_interval = 100

[NeuralNetworkGA]
input_dims = (4, 7, 10)  # (start_row, width, height) where width and height are in number of tiles
hidden_layer_architecture = (9)
hidden_node_activation = relu
output_node_activation = sigmoid
encode_row = True

[NeuralNetworkDQN]
input_dims = (4, 7, 10) 
hidden_layer_architecture = (9)
hidden_node_activation = relu
output_node_activation = linear
encode_row = True

[DQN]
learning_rate = 0.01
discount_value = 0.99  
train_freq = 4
total_episodes = 3000


# Target network settings
sync_network_rate = 500  

# Replay experience buffer settings
batch_size = 128        
buffer_size = 100000

# Tune this to adjust exploration (linear epsilon decay)
epsilon_start = 1
epsilon_min = 0.05
decay_fraction = 0.2

[GA]
total_generations = 3000
parallel_processes = 10

[Mutation]
mutation_rate = 0.05  # Value must be between [0.00, 1.00)
mutation_rate_type = static
gaussian_mutation_scale = 0.2  # The amount to multiple by the guassian(0, 1) value by

[Crossover]
probability_sbx = 1.0
sbx_eta = 100
crossover_selection = roulette
tournament_size = 5

[Selection]
num_parents = 5
num_offspring = 20
selection_type = comma
lifespan = inf

[Misc]
allow_additional_time_for_flagpole = True

